<div class="col-md-12 mt-3" *ngIf="caja">
    <h1>{{page_title}} {{caja.id}}</h1>
    <hr/>

    <!-- Datos de la caja -->
    <div class="form-row">
        <div class="col-md-6 ml-0 pl-0">

            <div class="form-group">
                <h3>Fecha apertura</h3>
                <h5>{{caja.created_at | date:'dd/M/y h:mm a' }}</h5>
            </div>

            <div class="form-group mt-4">
                <h3>Monto apertura</h3>
                <h5>{{caja.monto_apertura}}</h5>
            </div>

        </div>

        <div class="col-md-6 ml-0 pl-0">
            <div class="form-group">
                <h3>Fecha cierre</h3>
                <h5>{{caja.updated_at | date:'dd/M/y h:mm a' }}</h5>
            </div>

            <div class="form-group mt-4">
                <h3>Monto cierre</h3>
                <h5>{{caja.monto_cierre}}</h5>
            </div>

        </div>
    </div>

    <hr>

    <!-- Tabla de Movimientos-->
    <div class="col-md-12 ml-0 pl-0 mt-5">
        <div class="form-group">
            <h3>Movimientos de caja</h3>
        </div>
        <table class="table table-hover">
            <thead>
            <tr>
                <th>Fecha</th>
                <th>Tipo</th>
                <th>Descripción</th>
                <th>Monto</th>
            </tr>
            </thead>

            <tbody *ngIf="movimientos">

            <tr *ngFor="let movimiento of movimientos | paginate: config">
                <td>{{movimiento.created_at |  date:'dd/M/y h:mm a'}}</td>
                <td>{{movimiento.tipo}}</td>
                <td>{{movimiento.description}}</td>
                <td>Gs {{movimiento.valor}}</td>

            </tr>

            </tbody>
        </table>

        <pagination-controls
                [maxSize]="maxSize"
                [directionLinks]="directionLinks"
                [autoHide]="autoHide"
                [responsive]="responsive"
                [previousLabel]="labels.previousLabel"
                [nextLabel]="labels.nextLabel"
                [screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
                [screenReaderPageLabel]="labels.screenReaderPageLabel"
                [screenReaderCurrentLabel]="labels.screenReaderCurrentLabel"
                (pageChange)="pageChanged($event)">

        </pagination-controls>

    </div>


</div>




