<div class="col-md-12 mt-3" *ngIf="empresa">
    <h1>{{empresa.name}}</h1>
    <p>
        Datos de la empresa.
    </p>
    <hr/>

    <div class="alert alert-success col-md-5 mt-3" *ngIf="status == 'success'">
        Se han actualizado los datos de la empresa correctamente.
    </div>

    <div class="alert alert-danger col-md-5 mt-3" *ngIf="status == 'error'">
        No se han actualizado los datos de la empresa.
    </div>

    <!-- Formulario editar empresa -->
    <form  #empresaEditForm="ngForm" (ngSubmit)="onSubmit(empresaEditForm)">

        <div class="col-md-5 ml-0 pl-0">

            <div class="form-group">
                <label for="name">Nombre*</label>
                <input type="text" name="name" class="form-control" #name="ngModel"
                       [(ngModel)]="empresa.name" required>

                <small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">
                    El nombre no es válido
                </small>
            </div>

            <div class="form-group">
                <label for="url">Url</label>
                <input type="text" name="url" class="form-control" #url="ngModel"
                       [(ngModel)]="empresa.url">

            </div>
        </div>

        <input type="submit" value="Guardar cambios" class="btn btn-danger"
               [disabled]="empresaEditForm.invalid"/>
    </form>

    <!-- Tabla de valores de empresa -->
    <div class="col-md-12 ml-0 pl-0 mt-5" *ngIf="valores">
        <form  #valorForm="ngForm" (ngSubmit)="addValor(valorForm)">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Valor (moneda)</th>
                    <th>Moneda</th>
                    <th>Valor para venta (Gs.)</th>
                    <th>Acciones</th>
                </tr>
                </thead>

                <tbody>
                <tr>
                    <td>
                        <input type="text" name="valor_name" class="form-control" #valor_name="ngModel"
                         placeholder="Nombre" [(ngModel)]="valor.name" required>

                        <small *ngIf="valor_name.invalid && (valor_name.dirty || valor_name.touched)"
                               class="invalid-feedback d-block">
                            El nombre no es válido
                        </small>
                    </td>

                    <td>
                        <input type="text" name="valor_valor"  placeholder="$ 0,00" class="form-control"
                               #valor_valor="ngModel" required
                               currencyMask [(ngModel)]="valor.valor"
                        [options]="{
                        align: 'right',
                        allowNegative: true,
                        decimal: ',',
                        precision: 2,
                        prefix: '$ ',
                        suffix: '',
                        thousands: '.' }"
                        [ngModelOptions]="{standalone: true}">

                        <small *ngIf="valor_valor.invalid && (valor_valor.dirty || valor_valor.touched)"
                               class="invalid-feedback d-block">
                            El valor no es válido
                        </small>
                    </td>

                    <td  class="form-group">
                        <select name="moneda_id" #moneda="ngModel" [(ngModel)]="valor.moneda_id"
                                class="form-control" required>
                            <option *ngFor="let moneda of monedas" value="{{moneda.id}}">
                                {{moneda.name}}
                            </option>
                        </select>

                    </td>

                    <td>
                        <input type="text" name="valor_valor_guaranies"  placeholder="Gs 0,00" class="form-control"
                               #valor_valor_guaranies="ngModel" required pattern="[0-9.]*"
                               currencyMask [(ngModel)]="valor.valor_guaranies"
                               [options]="{
                        align: 'right',
                        allowNegative: true,
                        decimal: ',',
                        precision: 0,
                        prefix: 'G$ ',
                        suffix: '',
                        thousands: '.' }"
                        [ngModelOptions]="{standalone: true}">

                        <small *ngIf="valor_valor_guaranies.invalid && (valor_valor_guaranies.dirty || valor_valor_guaranies.touched)"
                               class="invalid-feedback d-block">
                            El valor no es válido
                        </small>

                    </td>

                    <td>
                        <input type="submit" value="Añadir" class="btn btn-success"
                               [disabled]="valorForm.invalid"/>
                    </td>
                </tr>

                <tr *ngFor="let valor of valores">
                    <td>{{valor.name}}</td>
                    <td>$ {{valor.valor}}</td>
                    <td>{{valor.moneda.name}}</td>
                    <td>Gs {{valor.valor_guaranies}}</td>
                    <td>
                        <input (click)="deleteValor(valor.id)" type="button" value="Borrar"
                               class="btn btn-danger"/>
                    </td>
                </tr>

                </tbody>
            </table>
        </form>

    </div>







</div>


